body{
    margin-left: 1%;
    margin-right: 1%;
}
#tr{
    color: white;
}
#nav img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
#nav{
    background-color:#654d3f;
}
.navList{
    list-style-type: disclosure-closed;
}
.navList li{
    margin-bottom: 15px;
}
.navList a{
    
        color: inherit;
        text-decoration: none;
        
    
}
#travel{
    float: right;
    background-color: #654d3f;
    border-color: #654d3f;
    margin-top: 10px;
    padding: 3px;
    z-index: 2;
    position: relative;
}
#cont{
    background-color: #fcfcf4;
    
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.rightd{
    width: 66%;
    display: inline-block;
}
.leftd{
    width: 33%;
    position: absolute;
    display: inline-block;
    background-color: white;
    right: 35px;
    bottom: 50px;
}
.leftd{
    text-align: center;
    border-radius: 10px;
    border: #333 solid 0.7px;
}
.bol{
    font-weight: bolder;
}
#checkout-button {
    background-color: #654d3f; 
    color: #fcfcf4;
    border: none; 
    padding: 10px 20px; 
    font-size: 16px; 
    cursor: pointer;
    margin-top: 20px; 
    margin: 10px auto 5px auto;
}
.card {
    margin-bottom: 15px;
}

#tprice, #shipping-fee, #final-total {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

#shipping-fee {
    color: green;
}

#final-total {
    color: red;
}
#foot{
    background-color: #fcfcf4;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
#foot a{
    text-decoration: none;
    color: #333;
}
.row img{
    width: 100%;
    height: 370px;
}
.card{
    width: auto;
    background-color: white;
    margin-bottom: 10px;
}
.card-body{
    padding-left: 0%;
    padding-top: 0%;
    padding-right: 0%;
}
.container{
   background-color: #fcfcf4;
}
.ca{
    position: relative;
}
.heart{
    position: absolute;
    z-index: 1;
    color: #fcfcf4;
}
.ha{
    top: 0px;
    right: 0px;
}
.heart{
    padding: 20px 35px;
    background-color: #654d3f;
    border-radius: 0 5% 0 70%;
}
#myButton {
    background: none;       
    border: none;      
    padding: 0;         
    margin: 0;         
    color: inherit;         
    font: inherit;          
    cursor: pointer;        
    text-align: left;       
}
.ci{
    width: 400px;
    height: 400px;
    margin: 0 auto;
    display: block;
}
.cart-icon a{
    text-decoration: none;
    color: #333;
}
.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    bottom: 8px;
    left: 20px;
}
.cart-count {
    position: relative;
    top: -13px;
    right: 13px;
    background-color: #654d3f;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px;
}
.price{
    text-align: center;
    font-weight: bold;
}
.row{
    display: grid;
    grid-template-columns: auto auto;
}
.container{
    display: block;
}
@media screen and (min-width:1248px){
    .card{
        width: 416px;
    }
}
@media screen and (max-width:992px){
    .row{
        grid-template-columns: auto auto;
    }
}
@media screen and (max-width:768px){
    .row{
        grid-template-columns: auto;
    }
}
@media screen and (max-width:400px){
    #cont img{
        width: 100%;

    }
}
