body{
    margin-left: 1%;
    margin-right: 1%;
}
#tr{
    color: #ffffff;
}
#nav img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
#nav{
    background-color:#654d3f;
}
.navList{
    list-style-type: disclosure-closed;
}
.navList li{
    margin-bottom: 15px;
}
.navList a{
    
        color: inherit;
        text-decoration: none;
        
    
}

#travel{
    float: right;
    background-color: #654d3f;
    border-color: #654d3f;
    margin-top: 10px;
    padding: 3px;
    z-index: 2;
    position: relative;
}
.ph{
    height: 650px;
    width: 90%;
    margin: auto;
}
#cont{
    background-color: #fcfcf4;

}
#foot{
    background-color: #fcfcf4;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
}
#foot a{
    text-decoration: none;
    color: #333;
}
.cart-icon a{
    text-decoration: none;
    color: #333;
}
.cart-icon {
    position: relative;
    display: inline-block;
    font-size: 24px;
    bottom: 8px;
    left: 20px;
}
.cart-count {
    position: relative;
    top: -13px;
    right: 13px;
    background-color: #654d3f;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 10px;
}